In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
xls = pd.ExcelFile('Excel_Test_(1).xlsx')

In [3]:
#xls.sheet_names

In [4]:
df1 = xls.parse("Exercise 1", skiprows = 2)

In [5]:
pd.set_option('display.max_columns', 200)

# Table A Answer

In [6]:
df1["Percentage of sales per territory"] = round(df1["Sales (Quantity)"]/sum(df1["Sales (Quantity)"]),2)

print("Percentages are rounded")
                                                 
df1[["Territory", 
     "Sales (Quantity)", 
     "Percentage of sales per territory"]].head(50)

Percentages are rounded

       Territory  Sales (Quantity)  Percentage of sales per territory
0    Territory 1               146                               0.01
1    Territory 2               493                               0.03
2    Territory 3               136                               0.01
3    Territory 4               213                               0.01
4    Territory 5               288                               0.02
5    Territory 6               474                               0.03
6    Territory 7               298                               0.02
7    Territory 8               317                               0.02
8    Territory 9               333                               0.02
9   Territory 10               459                               0.03
10  Territory 11               274                               0.02
11  Territory 12               421                               0.03
12  Territory 13               103                               0.01
13  Territory 14               357                               0.02
14  Territory 15               231                               0.02
15  Territory 16               131                               0.01
16  Territory 17               112                               0.01
17  Territory 18               293                               0.02
18  Territory 19               267                               0.02
19  Territory 20               197                               0.01
20  Territory 21               462                               0.03
21  Territory 22               217                               0.01
22  Territory 23               183                               0.01
23  Territory 24               378                               0.03
24  Territory 25               169                               0.01
25  Territory 26               105                               0.01
26  Territory 27               283                               0.02
27  Territory 28               375                               0.03
28  Territory 29               148                               0.01
29  Territory 30               439                               0.03
30  Territory 31               345                               0.02
31  Territory 32               395                               0.03
32  Territory 33               120                               0.01
33  Territory 34               368                               0.02
34  Territory 35               346                               0.02
35  Territory 36               395                               0.03
36  Territory 37               290                               0.02
37  Territory 38               377                               0.03
38  Territory 39               120                               0.01
39  Territory 40               318                               0.02
40  Territory 41               345                               0.02
41  Territory 42               206                               0.01
42  Territory 43               430                               0.03
43  Territory 44               359                               0.02
44  Territory 45               205                               0.01
45  Territory 46               265                               0.02
46  Territory 47               485                               0.03
47  Territory 48               443                               0.03
48  Territory 49               487                               0.03
49  Territory 50               339                               0.02

# Table B Answer

In [7]:
df1["Revenue before discount"] = df1["Sales (Quantity).1"]*df1["Sales Price"]
df1["Revenue after discount"] = df1["Sales (Quantity).1"]*(df1["Sales Price"]*(1-df1["Discount"][0]))

df1.loc[:,"Sales (Quantity).1":"Revenue after discount"].head(50)

,Sales (Quantity).1,Sales Price,Revenue before discount,Discount,Revenue after discount
0,NaN,NaN,NaN,0.1,NaN
1,342.0,15.0,5130.0,NaN,4617.0
2,188.0,15.0,2820.0,NaN,2538.0
3,338.0,15.0,5070.0,NaN,4563.0
4,447.0,10.0,4470.0,NaN,4023.0
5,339.0,11.0,3729.0,NaN,3356.1
6,182.0,14.0,2548.0,NaN,2293.2
7,128.0,13.0,1664.0,NaN,1497.6
8,111.0,12.0,1332.0,NaN,1198.8
9,153.0,14.0,2142.0,NaN,1927.8
10,306.0,17.0,5202.0,NaN,4681.8
11,123.0,18.0,2214.0,NaN,1992.6
12,162.0,17.0,2754.0,NaN,2478.6
13,316.0,13.0,4108.0,NaN,3697.2
14,137.0,18.0,2466.0,NaN,2219.4
15,471.0,17.0,8007.0,NaN,7206.3
16,145.0,11.0,1595.0,NaN,1435.5
17,101.0,13.0,1313.0,NaN,1181.7
18,181.0,18.0,3258.0,NaN,2932.2
19,356.0,15.0,5340.0,NaN,4806.0
20,123.0,19.0,2337.0,NaN,2103.3
21,409.0,16.0,6544.0,NaN,5889.6
22,264.0,13.0,3432.0,NaN,3088.8
23,105.0,13.0,1365.0,NaN,1228.5
24,451.0,12.0,5412.0,NaN,4870.8
25,443.0,10.0,4430.0,NaN,3987.0
26,358.0,12.0,4296.0,NaN,3866.4
27,318.0,13.0,4134.0,NaN,3720.6
28,414.0,16.0,6624.0,NaN,5961.6
29,153.0,17.0,2601.0,NaN,2340.9
30,301.0,12.0,3612.0,NaN,3250.8
31,124.0,15.0,1860.0,NaN,1674.0
32,406.0,10.0,4060.0,NaN,3654.0
33,444.0,19.0,8436.0,NaN,7592.4
34,150.0,14.0,2100.0,NaN,1890.0
35,141.0,17.0,2397.0,NaN,2157.3
36,147.0,15.0,2205.0,NaN,1984.5
37,345.0,17.0,5865.0,NaN,5278.5
38,182.0,12.0,2184.0,NaN,1965.6
39,487.0,12.0,5844.0,NaN,5259.6
40,392.0,12.0,4704.0,NaN,4233.6
41,170.0,14.0,2380.0,NaN,2142.0
42,372.0,13.0,4836.0,NaN,4352.4
43,316.0,15.0,4740.0,NaN,4266.0
44,241.0,16.0,3856.0,NaN,3470.4
45,137.0,17.0,2329.0,NaN,2096.1
46,246.0,16.0,3936.0,NaN,3542.4
47,395.0,17.0,6715.0,NaN,6043.5
48,342.0,12.0,4104.0,NaN,3693.6
49,187.0,17.0,3179.0,NaN,2861.1

### Since Python does not have a highlighting feature like Excel, we would use a simple filtering system like:
#### df1[df1["Revenue after discount"] > 4000]

# Table C Answer; A function that can be dragged by both row and columns in excel would be most similar to a python function as demonstrated below.

In [8]:
df1["Revenue before discount.1"] = df1["Sales (Quantity).2"]*df1["Sales Price.1"]

def discount_function(discount_scenario):
    df1[discount_scenario][1:] = df1["Sales (Quantity).2"][1:]*(
                                    df1["Sales Price.1"][1:]*(
                                        1-df1[discount_scenario][0]))
    
    return df1.loc[:,"Sales (Quantity).2":"Discount Scenario 3"]

### Demonstration of Function

In [9]:
discount_function("Discount Scenario 1")
discount_function("Discount Scenario 2")
discount_function("Discount Scenario 3")

,Sales (Quantity).2,Sales Price.1,Revenue before discount.1,Discount Scenario 1,Discount Scenario 2,Discount Scenario 3
0,NaN,NaN,NaN,0.1,0.2,0.3
1,342.0,15.0,5130.0,4617.0,4104.0,3591.0
2,188.0,15.0,2820.0,2538.0,2256.0,1974.0
3,338.0,15.0,5070.0,4563.0,4056.0,3549.0
4,447.0,10.0,4470.0,4023.0,3576.0,3129.0
5,339.0,11.0,3729.0,3356.1,2983.2,2610.3
6,182.0,14.0,2548.0,2293.2,2038.4,1783.6
7,128.0,13.0,1664.0,1497.6,1331.2,1164.8
8,111.0,12.0,1332.0,1198.8,1065.6,932.4
9,153.0,14.0,2142.0,1927.8,1713.6,1499.4
10,306.0,17.0,5202.0,4681.8,4161.6,3641.4
11,123.0,18.0,2214.0,1992.6,1771.2,1549.8
12,162.0,17.0,2754.0,2478.6,2203.2,1927.8
13,316.0,13.0,4108.0,3697.2,3286.4,2875.6
14,137.0,18.0,2466.0,2219.4,1972.8,1726.2
15,471.0,17.0,8007.0,7206.3,6405.6,5604.9
16,145.0,11.0,1595.0,1435.5,1276.0,1116.5
17,101.0,13.0,1313.0,1181.7,1050.4,919.1
18,181.0,18.0,3258.0,2932.2,2606.4,2280.6
19,356.0,15.0,5340.0,4806.0,4272.0,3738.0
20,123.0,19.0,2337.0,2103.3,1869.6,1635.9
21,409.0,16.0,6544.0,5889.6,5235.2,4580.8
22,264.0,13.0,3432.0,3088.8,2745.6,2402.4
23,105.0,13.0,1365.0,1228.5,1092.0,955.5
24,451.0,12.0,5412.0,4870.8,4329.6,3788.4
25,443.0,10.0,4430.0,3987.0,3544.0,3101.0
26,358.0,12.0,4296.0,3866.4,3436.8,3007.2
27,318.0,13.0,4134.0,3720.6,3307.2,2893.8
28,414.0,16.0,6624.0,5961.6,5299.2,4636.8
29,153.0,17.0,2601.0,2340.9,2080.8,1820.7
30,301.0,12.0,3612.0,3250.8,2889.6,2528.4
31,124.0,15.0,1860.0,1674.0,1488.0,1302.0
32,406.0,10.0,4060.0,3654.0,3248.0,2842.0
33,444.0,19.0,8436.0,7592.4,6748.8,5905.2
34,150.0,14.0,2100.0,1890.0,1680.0,1470.0
35,141.0,17.0,2397.0,2157.3,1917.6,1677.9
36,147.0,15.0,2205.0,1984.5,1764.0,1543.5
37,345.0,17.0,5865.0,5278.5,4692.0,4105.5
38,182.0,12.0,2184.0,1965.6,1747.2,1528.8
39,487.0,12.0,5844.0,5259.6,4675.2,4090.8
40,392.0,12.0,4704.0,4233.6,3763.2,3292.8
41,170.0,14.0,2380.0,2142.0,1904.0,1666.0
42,372.0,13.0,4836.0,4352.4,3868.8,3385.2
43,316.0,15.0,4740.0,4266.0,3792.0,3318.0
44,241.0,16.0,3856.0,3470.4,3084.8,2699.2
45,137.0,17.0,2329.0,2096.1,1863.2,1630.3
46,246.0,16.0,3936.0,3542.4,3148.8,2755.2
47,395.0,17.0,6715.0,6043.5,5372.0,4700.5
48,342.0,12.0,4104.0,3693.6,3283.2,2872.8
49,187.0,17.0,3179.0,2861.1,2543.2,2225.3

# Table D Answer: Another function with only one input (like a drop down menu) would work here as well.

In [10]:
df1["Revenue before discount.2"] = df1["Sales (Quantity).3"]*df1["Sales Price.2"]

def input_discount(discount):
    df1["Discount.1"][0] = discount
    
    df1["Revenue after discount.1"][1:] = df1["Sales (Quantity).3"][1:]*(
                                    df1["Sales Price.2"][1:]*(
                                        1-df1["Discount.1"][0]))
    
    return df1.loc[:,"Sales (Quantity).3":]

### Demonstration of Function

In [11]:
input_discount(.3)

,Sales (Quantity).3,Sales Price.2,Revenue before discount.2,Discount.1,Revenue after discount.1
0,NaN,NaN,NaN,0.3,NaN
1,342.0,15.0,5130.0,NaN,3591.0
2,188.0,15.0,2820.0,NaN,1974.0
3,338.0,15.0,5070.0,NaN,3549.0
4,447.0,10.0,4470.0,NaN,3129.0
5,339.0,11.0,3729.0,NaN,2610.3
6,182.0,14.0,2548.0,NaN,1783.6
7,128.0,13.0,1664.0,NaN,1164.8
8,111.0,12.0,1332.0,NaN,932.4
9,153.0,14.0,2142.0,NaN,1499.4
10,306.0,17.0,5202.0,NaN,3641.4
11,123.0,18.0,2214.0,NaN,1549.8
12,162.0,17.0,2754.0,NaN,1927.8
13,316.0,13.0,4108.0,NaN,2875.6
14,137.0,18.0,2466.0,NaN,1726.2
15,471.0,17.0,8007.0,NaN,5604.9
16,145.0,11.0,1595.0,NaN,1116.5
17,101.0,13.0,1313.0,NaN,919.1
18,181.0,18.0,3258.0,NaN,2280.6
19,356.0,15.0,5340.0,NaN,3738.0
20,123.0,19.0,2337.0,NaN,1635.9
21,409.0,16.0,6544.0,NaN,4580.8
22,264.0,13.0,3432.0,NaN,2402.4
23,105.0,13.0,1365.0,NaN,955.5
24,451.0,12.0,5412.0,NaN,3788.4
25,443.0,10.0,4430.0,NaN,3101.0
26,358.0,12.0,4296.0,NaN,3007.2
27,318.0,13.0,4134.0,NaN,2893.8
28,414.0,16.0,6624.0,NaN,4636.8
29,153.0,17.0,2601.0,NaN,1820.7
30,301.0,12.0,3612.0,NaN,2528.4
31,124.0,15.0,1860.0,NaN,1302.0
32,406.0,10.0,4060.0,NaN,2842.0
33,444.0,19.0,8436.0,NaN,5905.2
34,150.0,14.0,2100.0,NaN,1470.0
35,141.0,17.0,2397.0,NaN,1677.9
36,147.0,15.0,2205.0,NaN,1543.5
37,345.0,17.0,5865.0,NaN,4105.5
38,182.0,12.0,2184.0,NaN,1528.8
39,487.0,12.0,5844.0,NaN,4090.8
40,392.0,12.0,4704.0,NaN,3292.8
41,170.0,14.0,2380.0,NaN,1666.0
42,372.0,13.0,4836.0,NaN,3385.2
43,316.0,15.0,4740.0,NaN,3318.0
44,241.0,16.0,3856.0,NaN,2699.2
45,137.0,17.0,2329.0,NaN,1630.3
46,246.0,16.0,3936.0,NaN,2755.2
47,395.0,17.0,6715.0,NaN,4700.5
48,342.0,12.0,4104.0,NaN,2872.8
49,187.0,17.0,3179.0,NaN,2225.3