In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 200)

In [2]:
xls = pd.ExcelFile('Excel_Test_(1).xlsx')

In [3]:
#xls.sheet_names

In [4]:
df1 = xls.parse("Exercise 3", skiprows = 3)

# Table A Answer

In [5]:
def get_salary(employee):
    salary = df1[df1["Employee"] == employee]["Salary"].values[0]
    print(employee + "'s salary is: $", salary)

In [6]:
get_salary("Employee 8")
get_salary("Employee 5")
get_salary("Employee 47")
get_salary("Employee 28")
get_salary("Employee 31")
get_salary("Employee 9")

Employee 8's salary is: $ 32384
Employee 5's salary is: $ 84775
Employee 47's salary is: $ 61018
Employee 28's salary is: $ 122611
Employee 31's salary is: $ 81292
Employee 9's salary is: $ 119299

# Table B Answer

In [7]:
def get_high_low_salary():
    salaries = list(df1["Salary"])
    highest_salary_employee = df1[df1["Salary"] == max(salaries)]["Employee"].values[0]
    lowest_salary_employee = df1[df1["Salary"] == min(salaries)]["Employee"].values[0]
    
    print("Highest Salary: $", max(salaries), ";", "Person:", highest_salary_employee)
    print("Lowest Salary: $", min(salaries), ";", "Person:", lowest_salary_employee)

In [8]:
get_high_low_salary()

Highest Salary: $ 147555 ; Person: Employee 35
Lowest Salary: $ 30004 ; Person: Employee 13

# Table C Answer

In [9]:
def number_of_people():
    my_list = list(df1["Salary"])
    associates = sum(1 for _ in my_list if _ < 70000 )
    seniors = sum(1 for _ in my_list if 70000 <= _ <= 100000 )
    executives = sum(1 for _ in my_list if _ > 100000)
    
    print("associates:", associates)
    print("seniors:", seniors)
    print("executives:", executives)

In [10]:
number_of_people()

associates: 19
seniors: 11
executives: 20

# Table D Answer

In [11]:
department_list = ["Sales", "Marketing", "Finance", "G&A", "HR", "Production"]

# No. of Employees
for _ in department_list:
    print("No. of Employees in", _, ":", 
         len(df1[(df1.Department == _)]["Department"]))

print()

# Total Salary
for _ in department_list:
    print("Total Salary in", _, ":", 
         sum(df1[(df1.Department == _)]["Salary"]))

print()

# Average Salary
for _ in department_list:
    print("Average Salary in", _, ":", 
         np.mean(df1[(df1.Department == _)]["Salary"]))

print()

# Highest Salary
for _ in department_list:
    print("Employee with the highest salary in", _, ":", 
         list(df1[df1.Salary == df1[(df1.Department == _)]["Salary"].max()]["Employee"])[0])
print()

# Lowest Salary
for _ in department_list:
    print("Employee with the lowest salary in", _, ":", 
         list(df1[df1.Salary == df1[(df1.Department == _)]["Salary"].min()]["Employee"])[0])    

print()  

# Highest Paid Executive
for _ in department_list:
    try:
        print("Highest paid Executive in", _, ":", 
          list(df1[df1.Salary == df1[(df1.Department == _) & (
              df1.Salary > 100000)]["Salary"].max()]["Employee"])[0])
    except: 
        print("Highest paid Executive in", _, ":","No Executives")

print()
    
# Highest Paid Senior
for _ in department_list:
    print("Highest paid Senior in", _, ":", 
          list(df1[df1.Salary == df1[(df1.Department == _) & (df1.Salary >= 70000) & (
              df1.Salary <= 100000)]["Salary"].max()]["Employee"])[0])

print()        
        
# Highest Paid Associate    
for _ in department_list:
    print("Highest paid Associate in", _, ":", 
          list(df1[df1.Salary == df1[(df1.Department == _) & (
              df1.Salary < 70000)]["Salary"].max()]["Employee"])[0])

No. of Employees in Sales : 13
No. of Employees in Marketing : 6
No. of Employees in Finance : 10
No. of Employees in G&A : 10
No. of Employees in HR : 3
No. of Employees in Production : 8

Total Salary in Sales : 1178721
Total Salary in Marketing : 558510
Total Salary in Finance : 766550
Total Salary in G&A : 921959
Total Salary in HR : 191553
Total Salary in Production : 907903

Average Salary in Sales : 90670.84615384616
Average Salary in Marketing : 93085.0
Average Salary in Finance : 76655.0
Average Salary in G&A : 92195.9
Average Salary in HR : 63851.0
Average Salary in Production : 113487.875

Employee with the highest salary in Sales : Employee 36
Employee with the highest salary in Marketing : Employee 33
Employee with the highest salary in Finance : Employee 23
Employee with the highest salary in G&A : Employee 50
Employee with the highest salary in HR : Employee 17
Employee with the highest salary in Production : Employee 35

Employee with the lowest salary in Sales : Employee 24
Employee with the lowest salary in Marketing : Employee 43
Employee with the lowest salary in Finance : Employee 13
Employee with the lowest salary in G&A : Employee 8
Employee with the lowest salary in HR : Employee 4
Employee with the lowest salary in Production : Employee 45

Highest paid Executive in Sales : Employee 36
Highest paid Executive in Marketing : Employee 33
Highest paid Executive in Finance : Employee 23
Highest paid Executive in G&A : Employee 50
Highest paid Executive in HR : No Executives
Highest paid Executive in Production : Employee 35

Highest paid Senior in Sales : Employee 29
Highest paid Senior in Marketing : Employee 25
Highest paid Senior in Finance : Employee 10
Highest paid Senior in G&A : Employee 5
Highest paid Senior in HR : Employee 17
Highest paid Senior in Production : Employee 49

Highest paid Associate in Sales : Employee 1
Highest paid Associate in Marketing : Employee 27
Highest paid Associate in Finance : Employee 6
Highest paid Associate in G&A : Employee 14
Highest paid Associate in HR : Employee 47
Highest paid Associate in Production : Employee 45